{
  "extends": "airbnb-base",
  "globals": {
    "window": true,
    "document": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "rules": {
    "class-methods-use-this": 0,
    "indent": [2, 4],
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
