.coverage
.DS_Store
.python-version

*.db
*.egg-info
*.log
*.pyc
*.sqlite3
*.swp
*.swo

junit-*.xml
coverage.xml

/.tox/
/.cache/
/.idea/
/.npm/
/.vscode/

/build/
/dist/
/docs/build/
/htmlcov/
/node_modules/
/public/
/wheelhouse/

/src/newspaper/settings/local.py
/src/newspaper/static
