@import '~bootstrap/scss/mixins';

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Hide text which is available for SEO but we do not want to see visually.
// @link http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// Vertical align elements center directly
// @link http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/#update
@mixin vertical-align($position: absolute) {
    position: $position;
    transform: translate3d(0, -50%, 0);
    top: 50%;
}

// Apply the correct hover and active state on corresponding devices
// @param {Bool} $parent [false] - Whether or not to include the parent selector
@mixin hover-active($parent: false) {
    @if $parent {
        .no-touchevents #{$parent}:hover &,
        .touchevents #{$parent}:active & {
            @content;
        }
    }
    @else {
        .no-touchevents &:hover,
        .touchevents &:active {
            @content;
        }
    }
}
