@import 'bootstrap-variables';

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Centralize z-index
$z-index: (
    default: 1,
    reset: auto
);
